<!DOCTYPE html>
<html>

<head>

    <title>Apriori Algorithm</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">      

</head>

<body>

<div class="container">

    <div class="sidebar">

        <h2>

            <i class="fa-solid fa-atom"></i>

            AML Project

        </h2>

        <a href="/">

            <i class="fa-solid fa-house"></i>

            Dashboard

        </a>

        <a href="/machine_learning">

            <i class="fa-solid fa-chart-line"></i>

            Machine Learning

        </a>

        <a href="/deep_learning">

            <i class="fa-solid fa-brain"></i>

            Deep Learning

        </a>

        <a href="/generative_ai">

            <i class="fa-solid fa-robot"></i>

            Generative AI

        </a>

        <a href="/apriori">

            <i class="fa-solid fa-cart-shopping"></i>

            Apriori

        </a>

    </div>



    <div class="main">

        <div class="topbar">

            <h1>Apriori Algorithm</h1>

            <p>

                Association Rule Mining

            </p>

        </div>


        <div class="card">

            <h2>Example Dataset</h2>

            <br>

            <p>

                Items column:

            </p>

            <br>

<pre>
Milk,Bread,Butter
Bread,Butter
Milk,Bread
Milk,Butter
Milk,Bread,Butter
</pre>

            <br>

            <p>

                The algorithm generates frequent itemsets and association rules.

            </p>

        </div>

        <br>


        <div class="card">

            <form action="/apriori_predict"
                  method="POST"
                  enctype="multipart/form-data">

                <h2>

                    Upload CSV Dataset

                </h2>

                <br>

                <input
                    class="file-input"
                    type="file"
                    name="dataset"
                    required>

                <br><br>

                <button type="submit">

                    Generate Rules

                </button>

            </form>

        </div>

    </div>

</div>

</body>

</html>