<!DOCTYPE html>
<html>

<head>

    <title>Speech To Text</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<div class="container">

    <div class="sidebar">

        <h2>

            <i class="fa-solid fa-atom"></i>

            AML Project

        </h2>

        <a href="/">

            <i class="fa-solid fa-house"></i>

            Dashboard

        </a>

        <a href="/machine_learning">

            <i class="fa-solid fa-chart-line"></i>

            Machine Learning

        </a>

        <a href="/deep_learning">

            <i class="fa-solid fa-brain"></i>

            Deep Learning

        </a>

        <a href="/generative_ai">

            <i class="fa-solid fa-robot"></i>

            Generative AI

        </a>

        <a href="/apriori">

            <i class="fa-solid fa-cart-shopping"></i>

            Apriori

        </a>

    </div>


    <div class="main">

        <div class="topbar">

            <h1>Speech To Text</h1>

            <p>

                Audio to Text Conversion

            </p>

        </div>


        <div class="card">

            <h2>Upload Audio File</h2>

            <br>

            <p>

                Supported format: WAV

            </p>

            <br>

            <form action="/speech_predict"
                  method="POST"
                  enctype="multipart/form-data">

                <input
                    class="file-input"
                    type="file"
                    name="audio"
                    required>

                <br><br>

                <button type="submit">

                    Analyze

                </button>

            </form>

        </div>

    </div>

</div>

</body>

</html>